@import 'resources';

// GENERALES
%titulo-about{
    font-family: "BebasNeue";
    font-size: 52px;
    margin-top: 45px;
    letter-spacing: 3px;
    text-align: center;
}
%secciones{
    width: 100%;
    height: auto;
}
#about__principal{
    @extend %secciones;
    height: 300px;
}
#about__knowledge{
    @extend %secciones;
}

// SECCIÓN PRINCIPAL
#about__principal--titulo{
    text-align: center;
    h1{
        @extend %titulo-about;
        width: 90%;
        color: $negro;
        margin: 0 auto;
        transition: all 300ms;
        font-size: 49px;
        span{
            color: $vino;
        }
        &:hover{
            text-shadow: 1px 1px 2px $negro;
        }
    }
    #about__principal--redes{
        width: 70%;
        margin: 0 auto;
        a{
            cursor: pointer;
            text-decoration: none;
            img{
                width: 50px;
                transition: all 300ms;
                padding: 20px;
                &:hover{
                    transform: scale(1.1);
                }
            }
        }
    }
}
#about__principal--influence{
    background-color: $azulOscuro;
    width: 100%;
    height: 120px;
    p{
        width: 80%;
        margin: 0 auto;
        font-family: "TrebuchetMS";
        font-weight: bold;
        color: $blanco;
        padding-top: 24px;
        text-align: justify;
    }
}

// SECCIÓN CONOCIMIENTOS

#about__knowledge--skills{
    h2{
        @extend %titulo-about;
        color: $vino;
        display: block;
    }
    div{
        width: 70%;
        margin: 0 auto;
        img{
            padding: 20px;
            width: 80px;
            &:first-child{
                padding-left: 0;
            }
            &:nth-child(2){
                padding-right: 0;
                float: right;
            }
        }
        #less{
            padding-top: 29px;
        }
        #sass{
            width: 56px;
        }
    }
}

// SECCIÓN SOFTWARES
#about__knowledge--softwares {
    h2 {
        @extend %titulo-about;
        color: $azulOscuro;
    }

    div {
        width: 70%;
        margin: 0 auto;
        align-items: center;
        display: flex; /* Añade esta línea para utilizar Flexbox */
        justify-content: space-between; /* Añade esta línea para distribuir los elementos con espacio entre ellos */
        img {
            padding: 20px;
            width: 70px;
            &:first-child {
                padding-left: 0;
            }
            /* Elimina el selector &:nth-child(2) y los estilos de float:right; */
        }
    }
}

#about__knowledge--languages{
    h2{
        @extend %titulo-about;
        color: $azulClaro;
    }
    div{
        width: 70%;
        margin: 0 auto;
        text-align: center;
        height: 80px;
        margin-top: 20px;
        margin-bottom: 20px;
        h3{
            font-size: 30px;
            font-family: "BebasNeue";
            letter-spacing: 2px;
        }
        div{
            width: 40px;
            height: 20px;
            background-color: $azulClaro;
            float: left;
            margin-left: 10px;
        }
        #rosa{
            background-color: $crema;
        }
    }
}