*{
    margin: 0px;
    padding: 0px;
}
body{
    margin: 0%;
    background: linear-gradient(black 70%,gray);
    font-family: Arial, Helvetica, sans-serif;
}

section{
    width: 70%;
    margin: 0% auto;
}
header{
    /*background: red;*/
    height: 200px;
    width: 100%;
    margin: 0px;
    text-align: center;
    line-height: 150px;
    color: white;
    /*border-bottom: 3px dashed black;*/
    background-image: url('../images/codeImage.jpg');
    background-repeat: no-repeat;
    background-position: center;
}

#areaContacto{
    width: 96.8%;
    min-height: 50px;
    background: linear-gradient(gray,#956E0B,black 70%);
    padding: 20px;
}

header h1{
    font-style: italic;
    font-weight: bold;
    font-size: 4em;
    font-family: 'Times New Roman', Times, serif;
}

nav{
    background: linear-gradient(black 70%, gray);
    height: 50px;
    border-bottom: 1px solid black;
    padding-left: 500px;
}

#navContact{
    margin-bottom: -1px;
}

nav ul li{
    float: left;
    list-style: none;
    margin: 10px;
    line-height:  30px;
    width: 90px;
    font-style: oblique;
    font-weight: bold;
    font-size: 1.5em;
    font-family: monospace;
}

nav ul li a:hover{
    background-color: red;
    color:white;
    text-decoration: none;
}
a{
    text-decoration: none;
}
nav ul li a:visited{
    color: wheat;
}

h2{
    font-style: initial;
    font-weight: bold;
    font-size: 2.5em;
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

h3{
    font-style: initial;
    font-weight: bold;
    font-size: 1.5em; 
    font-family: 'Times New Roman', Times, serif;
    color: white;
    margin: 10px;
    margin-top: 30px;
}

#tituloEnrique{
    margin: 10px;
    margin-top: 50px;
    font-size: 1.9em; 
}

#perfilInicial{
    text-align: center;
    margin-top: 0%;
    margin-bottom: 25px;
    font-style: oblique;
    font-weight: bold;
    font-size: 1.7em;
}

#textoInicial{
    margin: 10px;
    margin-top: 50px;
    color: white;
    font-style: italic;
    font-weight: bold;
    font-size: 1.5em;
    font-family: 'Times New Roman', Times, serif;
}


.bloquesAbajo{
    clear: both;
}

section{
    float: left;
    width: 60%;
    min-height: 403px;
    background: linear-gradient(black 70%,#956E0B);
    padding: 40px;
}

article{
    margin-top: 15px;
    margin-bottom: 15px;
}
aside{
    float: left;
    min-height: 404px;
    background: linear-gradient(gray ,black 50%,#956E0B);
    width: 30%;
    padding: 21px;
    padding-right: 25px;
    padding-bottom: 23px;
    margin-top: -1px;
    text-align: center;
}

article{
    color: white;

}

#asideAbout{
    padding-bottom: 330px;
    max-height: 80px;
}

#tituloLugares{
    margin-bottom: 20px;
    font-style: italic;
    font-weight: bold;
    font-size: 2.5em;
    font-family: 'Times New Roman', Times, serif;
}

#listaAbout{
    margin: 30px;
    width: 60%;
    margin-top: 50px;
}

#imagenTrabajo{
    width: 10%;
    margin-left: 100%;
    margin-top: -150px;
}

#imgBasketball{
    margin-left: 200px;
}

h6{
    padding: 20px;
    font-style: italic;
    font-weight: bold;
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
}

#textoComida{
    margin-top: 90px;
}

#textoCover{
    text-align: center;
    margin-left: 20%;
}

#imgPiano{
    margin-left: 50%;
}

.tablaComidas{
    padding: 10px;
}

.articulo1{
    padding: 20px;
    background: black;
}

footer{
    background: linear-gradient(#956E0B ,black 50%,gray);
    color: white;
    text-align: center;
    height: 50px;
    line-height: 40px;
}

h5{
    font-style: normal;
    font-weight: bold;
    font-size: 0.8em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

footer ul li{
    float: left;
    padding: 10px;
    list-style: none;
    line-height:  5px;
}
.redesSociales{
    width: 100%;
    text-align: center;
    justify-content: center;
    min-height: 1px;
    padding-top: 0%;
    padding-bottom: 0%;
    background: black;
}

#footerContact{
    background: black;
}

.info{
    width:100%;
    text-align: center;
    font-weight: lighter;
    min-height: 1px;
}

#contactoForm{
    font-size: 22px;
    margin-bottom: 20px;
}

.formulario{
    width: 400px;
    background:#1F4813;
    padding: 30px;
    margin: auto;
    margin-top: 80px;
    border-radius: 18px;
    font-size: 2em;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    text-align: center;
}

.controles{
    width: 90%;
    background: #B2D5A8;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border-radius: 1px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
}

.botones{
    width: 95%;
    background: #956E0B;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
}
